@import '../../Styles/Vars.scss';
@import '../../Styles/Mixins.scss';

#random{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    background-color: red;
    overflow: hidden;
    h1{
        padding: 0px;
        font-size: 180px;
        color: #08ffff;
        font-family: $bree;
        margin: 0px;
        @media only screen and (max-width: 768px) {
            font-size: 90px;
          }
    }
}

#random--container{
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    z-index: 10;
    @media only screen and (max-width: 1050px) {
        width: 80%;
      }
    @media only screen and (max-width: 768px) {
        width: 80%;
      }

      #random--navigation{
        position: absolute;
        z-index: 99999;
        top: calc(50% - 50px);
        left: calc(50% - 100px);
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        #navigtion--right{
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          background-color: red;
          width: 100px;
          height: 100px;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
        }
        #navigtion--left{
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          background-color: red;
          width: 100px;
          height: 100px;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
        }
        #navigtion--left:hover{
          cursor: pointer;
          background-color: rgb(117, 0, 0);
        }
         #navigtion--right:hover{
          cursor: pointer;
          background-color: rgb(117, 0, 0);
        }
        p{
          font-size: 82px;
          font-weight: 900;
          padding: 0px;
          margin: 0px;
          line-height: 82px;
          color:white;
          user-select: none;
        }
      }

      #image--container{
        padding: 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        #image-right{
          position: relative;
          width: 100%;
          height: auto;
          background: rgb(194,194,194);
          background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 24%);
          margin: 0 auto;
          text-align: center;
          padding: 0px;
          display: flex;
          // flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          border: 10px red solid;
        }

        #image-left{
          position: relative;
          width: 100%;
          height: auto;
          background: rgb(194,194,194);
          background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 24%);
          margin: 0 auto;
          text-align: center;
          padding: 0px;
          display: flex;
          // flex-direction: column;
          flex-basis: 100%;
          flex: 1;
        }

        #info--container{
          // position: absolute;
          // top: 5%;
          // left: 20%;
          #info{
            width: 100%;
            height: 600px;
            background: rgb(231,231,231);
            background: linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 73%);
            padding: 5px 10px;
          }
        }


      }
    
}